<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="7.1.1" targetFramework="net462" />
  <package id="Flurl" version="2.5.2" targetFramework="net462" />
  <package id="Flurl.Http" version="2.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="ScottPlot" version="3.1.6" targetFramework="net462" />
  <package id="YahooFinanceApi" version="2.1.2" targetFramework="net462" />
</packages>